.services-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: none;
    background-color: black;

    color: white;
    text-align: center;

    .title {
        color: white;
        font-size: 3rem;
        align-self: center;
    }

    .contents {
        display: grid;
        height: 70%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .service {

            transition: all 0.3s ease;
            transition-delay: 0.075s;

            &:hover {
                transform: translateY(-15px);
            }
        }

        .logo {
            font-size: 3rem;
        }

    }
}