.quote-container {
    background-color: black;
    height: auto;
    width: 100%;
    color: white;

    .segment.title {
        color: white;
        font-size: 3rem;
        align-self: center;
        margin: 5rem;
    }

    .quote__form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        letter-spacing: 2px;
        gap: 8rem;

        margin-top: 10rem;
        margin-bottom: 10rem;
        margin-left: 4rem;
        margin-right: 4rem;


        .segment {}

        .origin-dest {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .subtitle {
            align-self: flex-start;
            font-size: 2rem;
            width: 100%;
            text-align: left;
            display: block;
        }

        .origin-container {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-right: 4rem;
            gap: 5rem;

            .subtitle {
                text-align: center;
            }
        }

        .origin-content {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 4rem;

            .location-input {
                padding: 0.5rem;
                height: 2.7rem;
                box-sizing: border-box;
                width: 100%;
            }
        }

        .dest-container {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 5rem;
            margin-left: 4rem;

            .subtitle {
                text-align: center;
            }
        }

        .dest-content {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 4rem;

            .location-input {
                padding: 0.5rem;
                height: 2.7rem;
                box-sizing: border-box;
                width: 100%;
            }
        }

        .appointment {
            display: flex;
            flex-direction: row;

            .date {}

            .time {}
        }

        .load-content {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-self: center;
            gap: 1rem;
            width: 100%;

            .vehicle {

                width: 9rem;

                select {
                    border-radius: 5px;
                    border: none;
                    height: 40px;
                    padding: 0.5rem;
                    color: white;
                    background-color: var(--secondary-color);
                    letter-spacing: 2px;

                    transition: background-color 0.3s ease;
                }

                select:focus {
                    outline: 1px solid var(--primary-color);
                }

                option {
                    background-color: var(--primary-color);
                    font-size: 1rem;
                    padding: 0.5rem;
                }
            }

            .rush {

                text-align: center;
                height: 75px;

                input {
                    width: 38px;
                    height: 40px;
                    align-self: center;
                    margin: 0;

                    &:focus {
                        outline: none;
                    }

                    &:checked {
                        background-color: var(--secondary-color);
                    }
                }

                input:checked {
                    background-color: var(--secondary-color);
                    /* Apply your secondary color */
                }
            }
        }

        .middle-section {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-self: center;
            width: 20rem;
            gap: 4rem;
        }

        .personal {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-self: center;
            gap: 2rem;

            .subtitle {
                margin-bottom: 2rem;
                text-align: center;
            }

            input {
                width: 385px;
            }
        }
    }

    input {
        border-radius: 5px;
        border: none;
        height: 25px;
        padding: 0.5rem;
        color: white;
        background-color: var(--secondary-color);
        letter-spacing: 2px;

        transition: background-color 0.3s ease;

        &:disabled {
            color: #0f162000;
        }
    }

    input:focus {
        outline: 1px solid var(--primary-color);
    }

    .form-div.message {
        height: 100%;
    }

    textarea {
        border-radius: 5px;
        padding: 0.5rem;
        border: none;
        color: white;
        background-color: var(--secondary-color);
        box-sizing: border-box;
        max-width: 100%;
        resize: none;

        transition: all 0.3s ease;
    }

    textarea:focus {
        outline: none;
    }

    button {
        border-radius: 5px;
        border: none;
        height: 40px;
        width: 8rem;
        align-self: center;
        letter-spacing: 2px;

        transition: all 0.3s ease;
    }

    button:hover {
        cursor: pointer;
        background-color: var(--primary-color);
        transition-delay: 0.1s;
        transform: scale(1.2);
    }

    button:disabled {
        color: white;
        transform: none;
    }

    button:disabled:hover {
        background-color: var(--secondary-color);
    }

    .swal-confirm-button {
        background-color: var(--primary-color);
    }

    @media screen and (max-width: 550px) {

        .quote-container {
            padding-top: 3rem;
        }

        label {
            font-size: 0.75rem;
        }

        .quote__form button:disabled {
            color: black;
            background-color: var(--secondary-color);
            transform: none;
        }
    }

}