.status-section {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status-box {
    width: 12rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */

    text-align: center;
}

.status-row {
    font-size: 1.2rem;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: monospace;
    padding: 1rem;

    animation: status-reveal 0.5s ease forwards;
}

@keyframes status-reveal {
    from {
        clip-path: inset(0 0 100% 0);
        transform: translateY(-0.5rem);
        opacity: 0;
    }
    to {
        clip-path: inset(0 0 0 0);
        transform: translateY(0);
        opacity: 1;
    }
}

.check {
    color: green;
    font-weight: bold;
}

@media (min-width: 600px) and (max-width: 900px) {
}

@media screen and (max-width: 600px) {
}
