.about-container {
    height: 100vh;
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .title {
        color: white;
        font-size: 3rem;
        align-self: center;
        text-align: center;
    }
}

.about-text {
    font-size: 1rem;
    color: white;
    text-align: center;
    line-height: 2rem;

    width: 85%;

    align-self: center;
}

.about-text em {
    font-size: 1.5rem;
    color: var(--primary-color);
    transition: all 1s ease;
}

.about-text em:hover {
    filter: hue-rotate(90deg);
}