.hero-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    height: 100vh;
    color: white;
    font-size: 6vw;
    background: 
        linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0)),
        url('../../assets/skyline-downtown-charlotte-north-carolina.jpg') center center/cover;
    background-position: top;

    position: relative;
    z-index: 1;
}

.hero-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: 
        linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0)),
        url('../../assets/skyline-downtown-charlotte-north-carolina.jpg') center center/cover;
    filter: blur(2.75px);
    z-index: -1; 
}

.company-name {
    .two {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .fa-truck-fast {
        margin-right: 1rem;
    }
}

.hero-slogan {
    font-size: 5vw;
    font-style: italic;
}