.hero-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    height: 80vh;
    color: white;
    font-size: 4rem;


    background: 
        linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0)),
        url('../../assets/skyline-downtown-charlotte-north-carolina.jpg') center center/cover;
    background-position: top;
}

.company-name {
    .two {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .fa-truck-fast {
        margin-right: 1rem;
    }
}

.hero-slogan {
    font-size: 3rem;
    font-style: italic;
}